{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def kaprekar_algorithm(n: int) -> tuple[int, int, bool | None]:
    # your code here
    return (0, 0, None)
{% endblock start %}

if __name__ == "__main__":
{% block example %}
    print('Example:')
    print(kaprekar_algorithm(5914))
{% endblock %}

    # These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
    assert {% block call %}kaprekar_algorithm({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
    print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
